@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Hedvig+Letters+Serif:wght@300;400;700&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7fafc; /* off-white blue background */
    color: #333333;
    line-height: 1.6;
    filter: contrast(170%) brightness(100%);
    background: 
        linear-gradient(281deg, rgba(155,255,169,0.7), rgba(154,170,255,0.14)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 318 318' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.05' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

header {
    padding: 8rem 0 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 4.8rem;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

main h2 {
    font-family: 'Lora', serif;
    color: #002855; /* dark blue */
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

main p {
    font-family: 'Hedvig Letters Serif', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

footer {
    margin-top: 2rem;
    font-size: 1.2rem;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
